block content 
    .main--content
        .input--prompt 
            p ENTER TEXT TO GENERATE A QR CODE
            input(type='text' id='input--text')
            button.generate--button Generate
        .output--canvas 
            div.qr_code